body{
    background-color:skyblue;
    padding:20px;
}
 h1:hover{
     color:aqua;
 }
 a:visited{
     color:antiquewhite;
 }
h1{
    margin:20px 0px 20px 15px;
}
p{
    margin:20px 20px 20px 20px;
}
ul{
    margin:30px 20px 0px 0px;
}
ol{
    margin:20px 0px 20px 0px;
}
tr{
    margin:20px 0px 20px 0px;
}
   image{
       margin:20px 0px 20px 20px;
   }
   table{
       margin:20px 20px 0px 0px;
   }
   ul li{
       float:left;
   }